// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_thumb_index{
  width: 10%;
  height: auto;
}

.grid-item {
  width:  200px;
  height: auto;
  float: left;
  background: #2296DD;
  border: 2px solid #333;
}

.grid-item img{
  width: 100%;
  height: auto;
}
