<p id="notice"><%= notice %></p>

<h1>Images</h1>

<div class="grid">
  <% @images.each do |image| %>
    <%= link_to image do %>
      <div class="grid-item">
        <%= image_tag "data:image/jpeg;base64,#{image.image}" %>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<script>
  $(window).on("load", function() {
  	$('.grid').masonry({
      columnWidth: 50,
      itemSelector: '.grid-item'
    });
  });
</script>

<%= link_to 'New Image', new_image_path %>
